accelerate==0.28.0
aiohttp==3.9.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
bitsandbytes==0.43.0
black==24.3.0
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
datasets==2.18.0
deepspeed==0.14.1
dill==0.3.8
distro==1.9.0
einops==0.7.0
filelock==3.13.3
flash-attn==2.5.6
Flask==3.0.2
frozenlist==1.4.1
fsspec==2024.2.0
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
humanfriendly==10.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
jupyter-resource-usage==1.0.2
jupyterlab-execute-time==3.1.2
jupyterlab-lsp==5.1.0
jupyterlab-spreadsheet-editor==0.7.1
MarkupSafe==2.1.5
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
networkx==3.2.1
ninja==1.11.1.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
ollama==0.1.9
openai==1.16.2
optimum==1.18.1
packaging==23.2
pandas==2.2.2
pathspec==0.10.3
pillow==10.3.0
pip==23.3.1
platformdirs==3.10.0
protobuf==5.26.1
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
pydantic==2.6.4
pydantic_core==2.16.3
pynvml==11.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.2
sentencepiece==0.2.0
setuptools==68.2.2
six==1.16.0
sniffio==1.3.1
sympy==1.12
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.39.2
transformers-stream-generator==0.0.5
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.2
wheel==0.41.2
xxhash==3.4.1
yarl==1.9.4
